.Todesritter {
  color: #C41E3A !important;
}

.Dämonen-Jäger {
  color: #A330C9 !important;
}

.Druide {
  color: #FF7D0A !important;
}

.Jäger {
  color: #ABD473 !important;
}

.Magier {
  color: #69CCF0 !important;
}

.Mönch {
  color: #00FF96 !important;
}

.Paladin {
  color: #F58CBA !important;
}

.Priester {
  color: #FFFFFF !important;
}

.Schurke {
  color: #FFF569 !important;
}

.Schamane {
  color: #0070DE !important;
}

.Hexenmeister {
  color: #9482C9 !important;
}

.Krieger {
  color: #C79C6E !important;
}

/*border for headers*/
.Todesritter_header {
  border-bottom: 1px solid #C41E3A !important;
}

.Dämonen-Jäger_header {
  border-bottom: 1px solid #A330C9 !important;
}

.Druide_header {
  border-bottom: 1px solid #FF7D0A !important;
}

.Jäger_header {
  border-bottom: 1px solid #ABD473 !important;
}

.Magier_header {
  border-bottom: 1px solid #69CCF0 !important;
}

.Mönch_header {
  border-bottom: 1px solid #00FF96 !important;
}

.Paladin_header {
  border-bottom: 1px solid #F58CBA !important;
}

.Priester_header {
  border-bottom: 1px solid #FFFFFF !important;
}

.Schurke_header {
  border-bottom: 1px solid #FFF569 !important;
}

.Schamane_header {
  border-bottom: 1px solid #0070DE !important;
}

.Hexenmeister_header {
  border-bottom: 1px solid #9482C9 !important;
}

.Krieger_header {
  border-bottom: 1px solid #C79C6E !important;
}

@media screen and (min-width: 800px) {
  .class_header{
    padding-right: 120px;
  }
}